<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cdhxqh.shekou"
    android:versionCode="4"
    android:versionName="1.0.4">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    /** permission **/
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- Permission for Unit Test -->
    <uses-permission android:name="android.permission.GET_TASKS" />


    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".application.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/SampleTheme">
        <activity
            android:name=".ui.activity.LoadActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/title_activity_login"></activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/shekou.ActivityTheme"></activity>
        <activity
            android:name=".ui.activity.Wfassig_DetailsActivity"
            android:label="@string/title_activity_wfassig__details"></activity>
        <activity
            android:name=".ui.activity.Work_ListActivity"
            android:label="@string/title_activity_worklist"></activity>
        <activity
            android:name=".ui.activity.Work_detailsActivity"
            android:label="@string/title_activity_workdetails"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name=".ui.activity.Work_AddNewActivity"
            android:label="@string/title_activity_workaddnew"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name=".ui.activity.Work_PlanActivity"
            android:label="@string/title_activity_workplan"></activity>
        <activity
            android:name=".ui.activity.Woactivity_Activity"
            android:label="@string/title_activity_workwoactivity"></activity>
        <activity
            android:name=".ui.activity.WoactivityDetailsActivity"
            android:label="@string/title_activity_workplandetails"></activity>
        <activity
            android:name=".ui.activity.AddWoactivityActivity"
            android:label="@string/title_activity_workwoactivity_add"></activity>
        <activity
            android:name=".ui.activity.LabtransListActivity"
            android:label="@string/title_activity_worklabtrans"></activity>
        <activity
            android:name=".ui.activity.AddLabtransActivity"
            android:label="@string/title_activity_worklabtrans_add"></activity>
        <activity
            android:name=".ui.activity.WplaborDetailsActivity"
            android:label="@string/title_activity_workwplabordetails"></activity>
        <activity
            android:name=".ui.activity.WpitemDetailsActivity"
            android:label="@string/title_activity_workwpitemdetails"></activity>
        <activity
            android:name=".ui.activity.AddWplaborActivity"
            android:label="@string/title_activity_workwplabor_add"></activity>
        <activity
            android:name=".ui.activity.AssignmentActivity"
            android:label="@string/title_activity_assignment"></activity>
        <activity
            android:name=".ui.activity.AssignmentDetailsActivity"
            android:label="@string/title_activity_assignmentdetails"></activity>
        <activity
            android:name=".ui.activity.Work_RealinfoActivity"
            android:label="@string/title_activity_workreport"></activity>
        <activity
            android:name=".ui.activity.LabtransDetailsActivity"
            android:label="@string/title_activity_labtransdetails"></activity>
        <activity
            android:name=".ui.activity.Work_FailurereportActivity"
            android:label="@string/title_activity_failurereport"></activity>
        <activity
            android:name=".ui.activity.InventoryActivity"
            android:label="@string/inventoryActivity"></activity>
        <activity
            android:name=".ui.activity.InvCostActivity"
            android:label="InvCostActivity"></activity>
        <activity
            android:name=".ui.activity.InvbalancesActivity"
            android:label="InvbalancesActivity"></activity>
        <activity
            android:name=".ui.activity.InvbalancesDetailsActivity"
            android:label="InvbalancesDetailsActivity"></activity>
        <activity
            android:name=".ui.activity.MatrectransActivity"
            android:label="MatrectransActivity"></activity>
        <activity
            android:name=".ui.activity.MatrectransDetailsActivity"
            android:label="MatusetransDetailsActivity"></activity>
        <activity
            android:name=".ui.activity.MatusetransActivity"
            android:label="MatusetransActivity"></activity>
        <activity
            android:name=".ui.activity.MatusetransDetailsActivity"
            android:label="MatusetransActivity"></activity>
        <activity
            android:name=".ui.activity.InvuseDetailsActivity"
            android:label="InvuseDetailsActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"></activity>
        <activity
            android:name=".ui.activity.InvuseActivity"
            android:label="InvuseActivity"></activity>
        <activity
            android:name=".ui.activity.InvuselineActivity"
            android:label="InvuselineActivity"></activity>
        <activity
            android:name=".ui.activity.InvuselinrDetailsActivity"
            android:label="InvuselinrDetailsActivity"></activity>
        <activity
            android:name=".ui.activity.InvuselinrDetailsNewActivity"
            android:label="InvuselinrDetailsNewActivity"></activity>
        <activity
            android:name=".ui.activity.AddinvuseActivity"
            android:label="@string/title_activity_addinvuse"></activity>
        <activity
            android:name=".ui.activity.AddInvuselineActivity"
            android:label="AddInvuselineActivity"></activity>
        <activity
            android:name=".ui.activity.AddInvuseDetailActivity"
            android:label="AddInvuseDetailActivity"></activity>
        <activity
            android:name=".ui.activity.Work_Choose_Activity"
            android:label="Work_Choose_Activity"></activity>
        <activity
            android:name=".ui.activity.DownloadActivity"
            android:label="@string/title_activity_download"></activity>
        <activity
            android:name=".ui.activity.OptionActivity"
            android:label="@string/activity_option_title"></activity>
        <activity
            android:name=".ui.activity.About_us_Activity"
            android:label="@string/about_us_text"></activity>


        <!--Bugly 配置APP ID -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="900034889" />
        <meta-data
            android:name="BDAPPID"
            android:value="8288046"/>
        <meta-data
            android:name="BDAPPKEY"
            android:value="VG6lYLf7OpVWGMOCcg7RZEcyZgHrwQ0b"/>


        <activity
            android:name="com.baidu.autoupdatesdk.ConfirmDialoigActivity"
            android:exported="false"
            android:screenOrientation="sensor"
            android:theme="@style/bdp_update_dialog_style_fullscreen" />

        <receiver
            android:name="com.baidu.autoupdatesdk.receiver.BDBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.baidu.autoupdatesdk.ACTION_NEW_UPDATE" />
                <action android:name="com.baidu.autoupdatesdk.ACTION_DOWNLOAD_COMPLETE" />
                <action android:name="com.baidu.autoupdatesdk.ACTION_NEW_AS" />
                <action android:name="com.baidu.autoupdatesdk.ACTION_AS_DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>


    </application>

</manifest>
